.App {
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  flex: auto;
  background: #747273;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #fafafaf1;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  border: solid #5c5e5f 1px;
  text-decoration: none;
}

button:hover {
  background: #000000;
  text-decoration: none;
}
